<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Forside ANY>
<!ATTLIST Forside id ID #REQUIRED>
<!ELEMENT Master ANY>
<!ATTLIST Master id ID #REQUIRED>
<!ELEMENT NormalSide ANY>
<!ATTLIST NormalSide id ID #REQUIRED>

]>
<root id="-1">
  <Forside id="1050" parentID="-1" level="1" writerID="0" creatorID="0" nodeType="1046" template="1047" sortOrder="0" createDate="2012-10-14T12:58:34" updateDate="2012-10-14T13:18:08" nodeName="Velkommen til Lenes Kager" urlName="velkommen-til-lenes-kager" writerName="admin" creatorName="admin" path="-1,1050" isDoc="">
    <bodyHeader>Lenes Kager</bodyHeader>
    <bodyText><![CDATA[<p>Her kan du finde alt om Lenes kager</p>]]></bodyText>
    <metaKeywords>Kager, fondant, søde, sager</metaKeywords>
    <metaDescription><![CDATA[Lenes kager laver fondant kager efter dit ønske.]]></metaDescription>
  </Forside>
</root>